body {
  font-family: 'Arial, sans-serif';
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

#header a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

#header img {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
  margin-top: 2px;
  width: 18px;
  height: 18px;
}

#main {
  text-align: center;
  padding: 50px 0;
}

#main h1 {
  font-family: 'Times New Roman', serif;
  font-size: 6em;
  letter-spacing: -0.03em;
  line-height: 0.9em;
  margin: 0;
}

#main h2 {
  font-family: 'Times New Roman', serif;
  font-size: 4em;
  letter-spacing: 0em;
  line-height: 0.9em;
  margin: 0;
  margin-top: 10px;
}

#main h3 {
  font-family: 'Times New Roman', serif;
  font-size: 2em;
  letter-spacing: 0em;
  line-height: 0.9em;
  margin: 0;
  margin-top: 50px;
}

#main h4 {
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 0.9em;
  margin: 0;
  margin-top: 50px;
}

#main h5 {
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 0.9em;
  margin-top: 20px;
  margin-bottom: 18px;
}

#main a {
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 0.9em;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

#main a:hover {
  text-decoration: underline;
}

#titles {
            text-align: left;
            padding-left: 10px;}

#main p {
  margin-top: 75px;
  text-align: left;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.images a {
  flex: 1 1 23%;
}

.images a:hover{
  opacity: 80%
}

.images img {
  width: 100%;
  height: auto;
}

.inside-images {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inside-images img {
  width: calc(50% - 10px);
  height: auto;
  border-radius: 30px;
}

.oneline-image img {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.content-container {
    display: flex;
    align-items: center; /* 确保内容从顶部对齐 */
    gap: 60px; /* 内容之间的间距 */
    padding: 80px; /* 调整容器内的间距 */
}

.text-content {
    flex: 1; /* 使文本内容占据可用空间 */
    flex: 0 0 30%;
    padding-left: 18%
}

.image-content {
    flex: 0 0 30%; /* 使图片内容占据30%的宽度 */
}

.image-content img {
    width: 100%; /* 使图片宽度适应父容器 */
    height: auto; /* 保持图片比例 */
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* 在较小屏幕上垂直排列 */
        align-items: center; /* 居中对齐内容 */
    }

    .image-content {
        margin-top: 20px; /* 在较小屏幕上添加图片上方的间距 */
        width: 80%; /* 调整图片宽度以适应较小屏幕 */
    }

    .image-content img {
        width: 100%; /* 确保图片宽度适应父容器 */
    }
}

@media (max-width: 768px) {
  .images a {
    flex: 1 1 48%;
  }
  .inside-images img {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .images a {
    flex: 1 1 98%;
  }
  .inside-images img {
    width: 100%;
  }
}

footer {
  max-width: 1200px;
  margin: 0 auto;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 0.01px;

  /* Image border */
  /*border: 4px solid white;*/
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  /*border-radius: 4px;*/

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
  position: absolute; /* 确保元素绝对定位 */
  top: 0; /* 垂直居中 */
  width: 50px; /* 设置宽度，使按钮靠近图片两侧 */
  z-index: 10001; /* 确保按钮在其他元素之上 */
}

.lb-nav a.lb-prev {
  background: url(../images/prev.png) left 50% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  width: 70px; /* 增加按钮宽度 */
height: 100%; /* 保持按钮高度 */
left: -80px; /* 调整按钮位置 */
background-size: contain; /* 保持背景图像大小 */
background-position: 20% 50%; /* 调整背景图像位置 */
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  background: url(../images/next.png) right 50% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  width: 70px; /* 增加按钮宽度 */
height: 100%; /* 保持按钮高度 */
right: -80px; /* 调整按钮位置 */
background-size: contain; /* 保持背景图像大小 */
background-position: 80% 50%; /* 调整背景图像位置 */
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-close {
    position: fixed; /* 使用fixed定位，以便在屏幕上固定位置 */
    top: 20px; /* 调整为距顶部20px */
    right: 20px; /* 调整为距右侧20px */
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat center;
    background-size: contain; /* 确保图像在按钮内完整显示 */
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    z-index: 10001; /* 确保按钮在其他元素之上 */
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
